{% load render_table from django_tables2 %}
<!doctype html>
<html>
<style>
    .content {
        max-width: 500px;
        margin: auto;
        }
</style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <div class="content">

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" />
                </form>
                <form action="" method="post">
                    {% csrf_token %}
                    {% render_table table %}
                    <input type="submit"/>
                </form>
                    {% csrf_token %}
                    {% render_table table2 %}

                <textarea id="chat-log" cols="50" rows="5"></textarea><br/>
                    </div>

    </body>
<script>

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/form/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
</html>